.actions {
	display: flex;
	justify-content: space-between;
	margin: 2em;
}

.loc-edit-modal,
.remove-loc-modal {
	background-color: var(--color1);
}

.delete:hover {
	background-color: #EF4444;
	color: var(--color1);
}